<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>뉴플 - 서비스 이용 약관</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
<section>
    <h1>뉴플, 빠싹한 뉴스 배달</h1>
    <h3>관심 분야를 구독해놓으면, 해당 분야의 뉴스가 뜰 때마다 바로바로 알림을 보내드려요</h3>
</section>
<footer>
    <p>스튜디오에리스 대표 장준혁 | 주소 : 서울시 동작구 동작대로 9길 68-10 204호 | 사업자등록번호 : 380-40-00561</p>
    <p>이메일 문의 : <b>info@newffle.com</b> | 카카오톡 채널 문의 : <b>뉴플 - 빠싹한 뉴스 배달</b></p>
</footer>
</body>
</html>